*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bodyStyle {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:100%;
  max-width: 1200px; /* Optional: limits the maximum width */
  padding: 10px;
}
